.App{
  box-sizing: border-box;
}

body {
  background: linear-gradient(#0c5f0d 0 40%, #b1d6a3 40%);
  min-height: 100vh;
  /* vh = relative to 1% of view port height, so above would be 100% */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', cursive;
}

.mole-hole {
  overflow: hidden;
}